<div class="col-xs-12 bag">
  <p>{{ error?.message }}</p>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group" style="width:50%;float:left;padding-right:5px;">
      <input
        type="text"
        id="firstName"
        class="form-control"
        placeholder="First Name"
        formControlName="firstName">
    </div>
    <div class="form-group" style="width:50%;display:inline-block;padding-left:5px;">
      <input
        type="text"
        id="lastName"
        class="form-control"
        placeholder="Last Name"
        formControlName="lastName">
    </div>
    <div class="form-group">
      <input
        type="email"
        id="email"
        class="form-control"
        placeholder="Email"
        formControlName="email">
    </div>
    <div class="form-group">
      <input
        type="password"
        id="password"
        class="form-control"
        placeholder="Password"
        formControlName="password">
    </div>
    <button
      type="submit"
      class="btn"
      [disabled]="!myForm.valid">Sign up</button>
  </form>
</div>
