
<div class="row" *ngFor="let current of (today | async).hourlyArray | slice:0:1">
  <div class="col-xs-4 leftColumn" *ngFor="let range of (today | async).dailyArray | slice:0:1">
    <div class="col-xs-12">
      <h3 class="date">{{ time | date:'MMM dd, y EEE h:mm a'}}</h3>
      <div class="temp">
        <div class="temp-row">
          <h2>Currently</h2>
        </div>
        <div class="cell-hold">
          <div class="table-cell">
            <h1>{{ current.temp.english}}°F</h1>
          </div>
          <div class="table-cell">
            <p>H: {{ range.high.fahrenheit}}° | L: {{ range.low.fahrenheit}}°</p>
            <p style="opacity:0.75;">Feels like: {{ current.feelslike.english }}°</p>
          </div>
        </div>
      </div>
      <div class="alerts">
        <div class="bar">
          <span class="glyphicon glyphicon-exclamation-sign"></span>
          <h1>Alerts</h1>
        </div>
        <h2 *ngIf="(today | async).alerts.length === 0;else alertDescription">No alerts at the moment</h2>
        <ng-template #alertDescription>
          <ul *ngFor="let alert of (today | async).alerts">
            <li>{{ alert.description }}</li>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="col-xs-8 rightColumn">
    <div class="col-xs-3">
      <img src="{{ current.icon_url }}" alt="{{ current.icon }}">
    </div>
    <div class="col-xs-3">
      <h3 style="font-size: 40px;letter-spacing: 0.4px;color: #f89820;">{{ (today | async).wind }} mph</h3>
    </div>
    <div class="col-xs-3">
      <h3 style="font-size: 40px;letter-spacing: 0.4px;color: #f89820;">{{ current.humidity }}%</h3>
    </div>
    <div class="col-xs-3">
      <h3 style="font-size: 40px;letter-spacing: 0.4px;color: #f89820;">{{ (today | async).sunset.hour }}:{{ (today | async).sunset.minute }} pm</h3>
    </div>
  </div>
  <div class="col-xs-8 rightColumn">
    <div class="col-xs-3">
      <h3>{{ current.condition }}</h3>
    </div>
    <div class="col-xs-3" *ngFor="let range of (today | async).dailyArray | slice:0:1">
      <h3>Wind</h3>
    </div>
    <div class="col-xs-3">
      <h3>Humidity</h3>
    </div>
    <div class="col-xs-3">
      <h3>Sunset</h3>
    </div>
    <div
      class="col-xs-12 map">
      <img
        *ngIf="(today | async).country === 'US' || (today | async).country === 'CA' || (today | async).country === 'AU';else othercontent"
        src="https://api.wunderground.com/api/47be6887c60a72bf/animatedradar/image.gif?centerlat={{ (today | async).latitude }}&centerlon={{ (today | async).longitude }}&radius=100&width=770&height=300&newmaps=1&delay=50&num=11"
        alt="Turn off Addblock to see map">
    </div>
    <ng-template #othercontent>
      <img
        src="https://api.wunderground.com/api/47be6887c60a72bf/animatedradar/image.gif?centerlat={{ (today | async).latitude }}&centerlon={{ (today | async).longitude }}&radius=100&width=770&height=300&newmaps=1&delay=30&num=1"
        alt="Turn off Addblock to see map">
    </ng-template>
  </div>
  <div class="col-xs-4">
    <app-email-alerts></app-email-alerts>
  </div>
</div>
