<div class="container header">
  <div class="row">
    <div class="col-xs-12" style="text-align:right;padding-top:10px;">
      <a *ngIf="!isLoggedIn(); else logout"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Login</a>
      <ng-template #logout><a (click)="logout()">Logout</a></ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <img src="../../assets/images/logo.svg" alt="logo">
    </div>
    <div class="col-xs-3 searchbar">
      <app-searchdrop></app-searchdrop>
      <form class="form-group" #f="ngForm">
        <div class="inner-addon right-addon">
          <i class="glyphicon glyphicon-search"></i>
          <input type="search"
            #autocomplete
            autofocus
            (keyup)="runAutocomplete(autocomplete.value)"
            class="form-control"
            placeholder="San Francisco"
            value="{{ inputValue }}"/>
        </div>
      </form>
    </div>
    <div class="col-xs-6 nav-buttons">
      <div class="button-group">
        <button
          routerLink="/forecast"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Today
        </button>
        <button
          routerLink="hourly"
          routerLinkActive="active">Hourly
        </button>
        <button
          routerLink="daily"
          routerLinkActive="active">10 day
        </button>
      </div>
    </div>
  </div>
</div>
<div class="contents">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
